# Aula 04 - Resolução dos Exercícios

## Novas perguntas do CEO para vocês

1. Qual a média do preço de compra dos imóveis por “Nível”? 
        - Nível 0 -> Preço entre R$ 0 e R$ 321.950
        - Nível 1 -> Preço entre R$ 321.950 e R$ 450.000
        - Nível 2 -> Preço entre R$ 450.000 e R$ 645.000
        - Nível 3 -> Acima de R$ 645.000

2. Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
        - Size 0 -> Tamanho entre 0 e 1427 sqft
        - Size 1 -> Tamanho entre 1427 e 1910 sqft
        - Size 2 -> Tamanho entre 1910 e 2550 sqft
        - Size 3 -> Tamanho acima de 2550 sqft

3. Adicione as seguinte informações ao conjunto de dados original:
        - Place ID: Identificação da localização
        - OSM Type: Open Street Map type
        - Country: Nome do País
        - Country Code: Código do País

4. Adicione os seguinte filtros no Mapa:
        - Tamanho mínimo da área da sala de estar.
        - Número mínimo de banheiros.
        - Valor Máximo do Preço.
        - Tamanho máximo da área do porão.
        - Filtro das Condições do Imóvel.
        - Filtro por Ano de Construção.

5. Adicione os seguinte filtros no Dashboard:
        - Filtro por data disponível para compra.
        - Filtro por ano de renovação.
        - Filtro se possui vista para a água ou não.

# Resolução

## Import Libraries

In [32]:
import numpy  as np
import pandas as pd
import seaborn as sns


from matplotlib import gridspec
from matplotlib import pyplot     as plt
import ipywidgets     as widgets
import plotly.express as px
from ipywidgets import interact, interactive, fixed, interact_manual

In [33]:
# Supress Scientific Notation
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## Loading Data

In [34]:
# loading data into memory
#data = pd.read_csv( '/home/daniel/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )
data = pd.read_csv( 'C:/Users/daniel.azevedo/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )
# Garantir que o formato date é um datetime 
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )

In [35]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.00,3,2.50,1530,1131,3.00,0,0,...,8,1530,0,2009,0,98103,47.70,-122.35,1530,1509
21609,6600060120,2015-02-23,400000.00,4,2.50,2310,5813,2.00,0,0,...,8,2310,0,2014,0,98146,47.51,-122.36,1830,7200
21610,1523300141,2014-06-23,402101.00,2,0.75,1020,1350,2.00,0,0,...,7,1020,0,2009,0,98144,47.59,-122.30,1020,2007
21611,291310100,2015-01-16,400000.00,3,2.50,1600,2388,2.00,0,0,...,8,1600,0,2004,0,98027,47.53,-122.07,1410,1287
21612,1523300157,2014-10-15,325000.00,2,0.75,1020,1076,2.00,0,0,...,7,1020,0,2008,0,98144,47.59,-122.30,1020,1357

## 1. Qual a média do preço de compra dos imóveis por “Nível”? 
        - Nível 0 -> Preço entre R$ 0 e R$ 321.950
        - Nível 1 -> Preço entre R$ 321.950 e R$ 450.000
        - Nível 2 -> Preço entre R$ 450.000 e R$ 645.000
        - Nível 3 -> Acima de R$ 645.000

In [36]:
   #loop
for i in range(0, len (data)):
    if (data.loc[i, 'price'] > 0) & (data.loc[i, 'price'] < 321950):
        data.loc[i, 'nivel'] = 'nivel_0'

    elif (data.loc[i, 'price'] >= 321950) & (data.loc[i, 'price'] < 450000):
        data.loc[i, 'nivel'] = 'nivel_1'

    elif (data.loc[i, 'price'] >= 450000) & (data.loc[i, 'price'] < 645000):
        data.loc[i, 'nivel'] = 'nivel_2'
    else:
        data.loc[i, 'nivel'] = 'nivel_3'

In [37]:
df = data[['price', 'nivel']].groupby('nivel').mean().reset_index()
df

     nivel     price
0  nivel_0 251544.62
1  nivel_1 383585.21
2  nivel_2 536164.42
3  nivel_3 985008.98

## 2. Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
        - Size 0 -> Tamanho entre 0 e 1427 sqft
        - Size 1 -> Tamanho entre 1427 e 1910 sqft
        - Size 2 -> Tamanho entre 1910 e 2550 sqft
        - Size 3 -> Tamanho acima de 2550 sqft

In [48]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,nivel,size
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,...,0,1955,0,98178,47.51,-122.26,1340,5650,nivel_0,size_0
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,...,400,1951,1991,98125,47.72,-122.32,1690,7639,nivel_2,size_3
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,...,0,1933,0,98028,47.74,-122.23,2720,8062,nivel_0,size_0
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,...,910,1965,0,98136,47.52,-122.39,1360,5000,nivel_2,size_2
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,...,0,1987,0,98074,47.62,-122.05,1800,7503,nivel_2,size_1

In [43]:
data['size'] = data['sqft_living'].apply(lambda x: 'size_0' if x < 1427 else
                                                   'size_1' if (x >= 1427) & (x < 1910) else
                                                   'size_2' if (x >= 1910) & (x < 2550) else
                                                   'size_3')

In [50]:
df = data[['size', 'sqft_living']].groupby('size').mean().reset_index()
df

     size  sqft_living
0  size_0      1123.78
1  size_1      1661.20
2  size_2      2202.70
3  size_3      3318.99

## 3. Adicione as seguinte informações ao conjunto de dados original:
        - Place ID: Identificação da localização
        - OSM Type: Open Street Map type
        - Country: Nome do País
        - Country Code: Código do País

In [58]:
#data = pd.read_csv( '/home/daniel/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )
data = pd.read_csv( 'C:/Users/daniel.azevedo/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )

In [52]:
!pip install geopy

Requirement already satisfied: geopy in c:\programdata\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\programdata\anaconda3\lib\site-packages (from geopy) (1.52)

In [54]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='geoapiExercises')

In [61]:
response = geolocator.reverse('47.51,-122.26')

In [63]:
response.raw

{'place_id': 158810523,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 236673776,
 'lat': '47.50987735',
 'lon': '-122.26001908123574',
 'display_name': '5746, South Ryan Street, Rainier Beach, Seattle, King County, Washington, 98178, United States',
 'address': {'house_number': '5746',
  'road': 'South Ryan Street',
  'neighbourhood': 'Rainier Beach',
  'city': 'Seattle',
  'county': 'King County',
  'state': 'Washington',
  'postcode': '98178',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['47.509808', '47.5099694', '-122.2600792', '-122.259959']}

In [68]:
print(response.raw['place_id'])
print(response.raw['osm_type'])
print(response.raw['address']['country'])
print(response.raw['address']['country_code'])

158810523
way
United States
us

In [69]:
# CREATE EMPTY COLLUMS
data['place_id'] = 'NA'
data['osm_type'] = 'NA'
data['country'] = 'NA'
data['country_code'] = 'NA'

In [83]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='geoapiExercises')


for i in range(len(data)):
    print('{} / {}'.format(i, len(data)))
    
    #make query
    query = str(data.loc[i, 'lat']) + ',' + str(data.loc[i, 'long'])
    
    #API request                                            
    response = geolocator.reverse(query)
    
    data.loc[i, 'place_id']     = response.raw['place_id']
    data.loc[i, 'osm_type']     = response.raw['osm_type']
    data.loc[i, 'country']      = response.raw['address']['country']
    data.loc[i, 'country_code'] = response.raw['address']['country_code']

0 / 21613
1 / 21613
2 / 21613
3 / 21613
4 / 21613
5 / 21613
6 / 21613
7 / 21613
8 / 21613
9 / 21613

KeyboardInterrupt:

In [80]:
query = str(data.loc[0, 'lat']) + ',' + str(data.loc[0, 'long'])

'47.5112,-122.257'

In [74]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,place_id,osm_type,country,country_code
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,0,98178,47.51,-122.26,1340,5650,158810523,way,United States,us
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,1991,98125,47.72,-122.32,1690,7639,158810523,way,United States,us
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,0,98028,47.74,-122.23,2720,8062,158810523,way,United States,us
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,0,98136,47.52,-122.39,1360,5000,158810523,way,United States,us
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,0,98074,47.62,-122.05,1800,7503,158810523,way,United States,us

## 4. Adicione os seguinte filtros no Mapa:
        - Tamanho mínimo da área da sala de estar.
        - Número mínimo de banheiros.
        - Valor Máximo do Preço.
        - Tamanho máximo da área do porão.
        - Filtro das Condições do Imóvel.
        - Filtro por Ano de Construção.

## 5. Adicione os seguinte filtros no Dashboard:
        - Filtro por data disponível para compra.
        - Filtro por ano de renovação.
        - Filtro se possui vista para a água ou não.

In [ ]:
widgets.interactive( update_map, 
                     data = fixed( data ), 
                     date_limit=date_limit,
                     year_limit=year_limit,
                     waterfront_limit=waterfront_limit )