# Aula 04 - Resolução dos Exercícios

## Novas perguntas do CEO para vocês

1. Qual a média do preço de compra dos imóveis por “Nível”? 
        - Nível 0 -> Preço entre R$ 0 e R$ 321.950
        - Nível 1 -> Preço entre R$ 321.950 e R$ 450.000
        - Nível 2 -> Preço entre R$ 450.000 e R$ 645.000
        - Nível 3 -> Acima de R$ 645.000

2. Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
        - Size 0 -> Tamanho entre 0 e 1427 sqft
        - Size 1 -> Tamanho entre 1427 e 1910 sqft
        - Size 2 -> Tamanho entre 1910 e 2550 sqft
        - Size 3 -> Tamanho acima de 2550 sqft

3. Adicione as seguinte informações ao conjunto de dados original:
        - Place ID: Identificação da localização
        - OSM Type: Open Street Map type
        - Country: Nome do País
        - Country Code: Código do País

4. Adicione os seguinte filtros no Mapa:
        - Tamanho mínimo da área da sala de estar.
        - Número mínimo de banheiros.
        - Valor Máximo do Preço.
        - Tamanho máximo da área do porão.
        - Filtro das Condições do Imóvel.
        - Filtro por Ano de Construção.

5. Adicione os seguinte filtros no Dashboard:
        - Filtro por data disponível para compra.
        - Filtro por ano de renovação.
        - Filtro se possui vista para a água ou não.

# Resolução

## Import Libraries

In [1]:
import numpy  as np
import pandas as pd
import seaborn as sns


from matplotlib import gridspec
from matplotlib import pyplot as plt
import ipywidgets as widgets
import plotly.express as px
from ipywidgets import interact, interactive, fixed, interact_manual

In [2]:
# Supress Scientific Notation
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## Loading Data

In [3]:
# loading data into memory
data = pd.read_csv( '/home/daniel/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )
#data = pd.read_csv( 'C:/Users/daniel.azevedo/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )
# Garantir que o formato date é um datetime 
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )

In [4]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.00,3,2.50,1530,1131,3.00,0,0,...,8,1530,0,2009,0,98103,47.70,-122.35,1530,1509
21609,6600060120,2015-02-23,400000.00,4,2.50,2310,5813,2.00,0,0,...,8,2310,0,2014,0,98146,47.51,-122.36,1830,7200
21610,1523300141,2014-06-23,402101.00,2,0.75,1020,1350,2.00,0,0,...,7,1020,0,2009,0,98144,47.59,-122.30,1020,2007
21611,291310100,2015-01-16,400000.00,3,2.50,1600,2388,2.00,0,0,...,8,1600,0,2004,0,98027,47.53,-122.07,1410,1287
21612,1523300157,2014-10-15,325000.00,2,0.75,1020,1076,2.00,0,0,...,7,1020,0,2008,0,98144,47.59,-122.30,1020,1357

## 1. Qual a média do preço de compra dos imóveis por “Nível”? 
        - Nível 0 -> Preço entre R$ 0 e R$ 321.950
        - Nível 1 -> Preço entre R$ 321.950 e R$ 450.000
        - Nível 2 -> Preço entre R$ 450.000 e R$ 645.000
        - Nível 3 -> Acima de R$ 645.000

In [5]:
   #loop
for i in range(0, len (data)):
    if (data.loc[i, 'price'] > 0) & (data.loc[i, 'price'] < 321950):
        data.loc[i, 'nivel'] = 'nivel_0'

    elif (data.loc[i, 'price'] >= 321950) & (data.loc[i, 'price'] < 450000):
        data.loc[i, 'nivel'] = 'nivel_1'

    elif (data.loc[i, 'price'] >= 450000) & (data.loc[i, 'price'] < 645000):
        data.loc[i, 'nivel'] = 'nivel_2'
    else:
        data.loc[i, 'nivel'] = 'nivel_3'

In [6]:
df = data[['price', 'nivel']].groupby('nivel').mean().reset_index()
df

     nivel     price
0  nivel_0 251544.62
1  nivel_1 383585.21
2  nivel_2 536164.42
3  nivel_3 985008.98

## 2. Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
        - Size 0 -> Tamanho entre 0 e 1427 sqft
        - Size 1 -> Tamanho entre 1427 e 1910 sqft
        - Size 2 -> Tamanho entre 1910 e 2550 sqft
        - Size 3 -> Tamanho acima de 2550 sqft

In [7]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,nivel
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,...,1180,0,1955,0,98178,47.51,-122.26,1340,5650,nivel_0
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,...,2170,400,1951,1991,98125,47.72,-122.32,1690,7639,nivel_2
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,...,770,0,1933,0,98028,47.74,-122.23,2720,8062,nivel_0
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,...,1050,910,1965,0,98136,47.52,-122.39,1360,5000,nivel_2
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,...,1680,0,1987,0,98074,47.62,-122.05,1800,7503,nivel_2

In [8]:
data['size'] = data['sqft_living'].apply(lambda x: 'size_0' if x < 1427 else
                                                   'size_1' if (x >= 1427) & (x < 1910) else
                                                   'size_2' if (x >= 1910) & (x < 2550) else
                                                   'size_3')

In [9]:
df = data[['size', 'sqft_living']].groupby('size').mean().reset_index()
df

     size  sqft_living
0  size_0      1123.78
1  size_1      1661.20
2  size_2      2202.70
3  size_3      3318.99

## 3. Adicione as seguinte informações ao conjunto de dados original:
        - Place ID: Identificação da localização
        - OSM Type: Open Street Map type
        - Country: Nome do País
        - Country Code: Código do País

In [10]:
data = pd.read_csv( '/home/daniel/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )
#data = pd.read_csv( 'C:/Users/daniel.azevedo/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )

In [11]:
#!pip install geopy

In [12]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='geoapiExercises')

In [13]:
response = geolocator.reverse('47.51,-122.26')

In [14]:
response.raw

{'place_id': 158810523,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 236673776,
 'lat': '47.50987735',
 'lon': '-122.26001908123574',
 'display_name': '5746, South Ryan Street, Rainier Beach, Seattle, King County, Washington, 98178, United States',
 'address': {'house_number': '5746',
  'road': 'South Ryan Street',
  'neighbourhood': 'Rainier Beach',
  'city': 'Seattle',
  'county': 'King County',
  'state': 'Washington',
  'postcode': '98178',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['47.509808', '47.5099694', '-122.2600792', '-122.259959']}

In [15]:
print(response.raw['place_id'])
print(response.raw['osm_type'])
print(response.raw['address']['country'])
print(response.raw['address']['country_code'])

158810523
way
United States
us

In [16]:
# CREATE EMPTY COLLUMS
data['place_id'] = 'NA'
data['osm_type'] = 'NA'
data['country'] = 'NA'
data['country_code'] = 'NA'

In [17]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='geoapiExercises')


for i in range(len(data)):
    print('Loop {} / {}'.format(i, len(data)))
    
    #make query
    query = str(data.loc[i, 'lat']) + ',' + str(data.loc[i, 'long'])
    
    #API request                                            
    response = geolocator.reverse(query)
    
    data.loc[i, 'place_id']     = response.raw['place_id']
    data.loc[i, 'osm_type']     = response.raw['osm_type']
    data.loc[i, 'country']      = response.raw['address']['country']
    data.loc[i, 'country_code'] = response.raw['address']['country_code']

Loop 0 / 21613
Loop 1 / 21613
Loop 2 / 21613
Loop 3 / 21613
Loop 4 / 21613
Loop 5 / 21613
Loop 6 / 21613
Loop 7 / 21613
Loop 8 / 21613
Loop 9 / 21613
Loop 10 / 21613
Loop 11 / 21613
Loop 12 / 21613
Loop 13 / 21613
Loop 14 / 21613
Loop 15 / 21613
Loop 16 / 21613
Loop 17 / 21613
Loop 18 / 21613
Loop 19 / 21613
Loop 20 / 21613
Loop 21 / 21613
Loop 22 / 21613
Loop 23 / 21613
Loop 24 / 21613
Loop 25 / 21613
Loop 26 / 21613
Loop 27 / 21613
Loop 28 / 21613
Loop 29 / 21613
Loop 30 / 21613
Loop 31 / 21613
Loop 32 / 21613
Loop 33 / 21613
Loop 34 / 21613

KeyboardInterrupt:

In [18]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,place_id,osm_type,country,country_code
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,0,98178,47.51,-122.26,1340,5650,161022547,way,United States,us
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,1991,98125,47.72,-122.32,1690,7639,160016678,way,United States,us
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,0,98028,47.74,-122.23,2720,8062,74951055,node,United States,us
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,0,98136,47.52,-122.39,1360,5000,156726151,way,United States,us
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,0,98074,47.62,-122.05,1800,7503,296045104,way,United States,us

## 4. Adicione os seguinte filtros no Mapa:
        - Tamanho mínimo da área da sala de estar.
        - Número mínimo de banheiros.
        - Valor Máximo do Preço.
        - Tamanho máximo da área do porão.
        - Filtro das Condições do Imóvel.
        - Filtro por Ano de Construção.

In [19]:
data = pd.read_csv( '/home/daniel/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )
#data = pd.read_csv( 'C:/Users/daniel.azevedo/repos/curso_python_zero_ao_ds/datasets/kc_house_data.csv' )

In [20]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [21]:
data[['sqft_living', 'bathrooms', 'price', 'sqft_basement', 'condition', 'yr_built']]

       sqft_living  bathrooms     price  sqft_basement  condition  yr_built
0             1180       1.00 221900.00              0          3      1955
1             2570       2.25 538000.00            400          3      1951
2              770       1.00 180000.00              0          3      1933
3             1960       3.00 604000.00            910          5      1965
4             1680       2.00 510000.00              0          3      1987
...            ...        ...       ...            ...        ...       ...
21608         1530       2.50 360000.00              0          3      2009
21609         2310       2.50 400000.00              0          3      2014
21610         1020       0.75 402101.00              0          3      2009
21611         1600       2.50 400000.00              0          3      2004
21612         1020       0.75 325000.00              0          3      2008

[21613 rows x 6 columns]

In [22]:
#Interactive buttons

#Botão sala de estar
saladeestar_filtro = widgets.IntSlider(
    value=2079, 
    min=290,
    max = 13540,
    description = 'Área sala de estar',
    style={'description_width': 'initial'})

#Botão banheiro
banheiro_filtro = widgets.IntSlider(
    value=2,
    min=0,
    max=8,
    description = ('Número de banheiros'),
    orientation = 'vertical',
    style={'description_width': 'initial'})

#Botão preço
preco_filtro = widgets.IntSlider(
    value = data['price'].mean(),
    min = data['price'].min(),
    max = data['price'].max(),
    step = 1,
    description = 'Preços dos imóveis',
    disabled = False,
    orientation = 'horizontal',
    style={'description_width': 'initial'})

#Botão Porão
porao_filtro = widgets.IntSlider(
    value= data['sqft_basement'].mean(),
    min= data['sqft_basement'].min(),
    description = 'Área do porão',
    style={'description_width': 'initial'})

#Botão Condição imóvel
condicao_filtro = widgets.RadioButtons(
    options  = [1, 2 ,3, 4, 5],
    description = 'Condição do imóvel',
    disabled = False,
    style={'description_width': 'initial'})

#Botão ano de construção
ano_filtro = widgets.Dropdown(
    options = sorted(data['yr_built'].unique()),
    description = 'Ano de construção do imóvel',
    disabled = False,
    style={'description_width': 'initial'})

def update_map(df, saladeestar_filtro, banheiro_filtro, preco_filtro, porao_filtro,
               condicao_filtro, ano_filtro):
    houses = df[(df['sqft_living'] > saladeestar_filtro) &
                (df['bathrooms'] > banheiro_filtro) &
                (df['price']< preco_filtro) &
                (df['sqft_basement'] > porao_filtro) &
                (df['condition'] > condicao_filtro) &
                (df['yr_built'] > ano_filtro)][['id', 'lat', 'long', 'price', 'nivel']]
    
    fig = px.scatter_mapbox(houses,
                           lat='lat',
                           lon='long',
                           size='price',
                           color_continuous_scale=px.colors.cyclical.IceFire,
                           zoom=10)
    
    fig.update_layout(mapbox_style="open-street-map")
    fig.update_layout(height=600, margin={"r":0,"t":0,"l":0,"b":0})
    fig.show()

In [23]:
widgets.interactive(update_map,
                    df=fixed(data),
                    ano_filtro = ano_filtro,
                    condicao_filtro = condicao_filtro,
                    porao_filtro = porao_filtro,
                    banheiro_filtro = banheiro_filtro,
                    saladeestar_filtro = saladeestar_filtro,
                    preco_filtro=preco_filtro,
                   )

interactive(children=(IntSlider(value=2079, description='Área sala de estar', max=13540, min=290, style=Slider…

## 5. Adicione os seguinte filtros no Dashboard:
        - Filtro por data disponível para compra.
        - Filtro por ano de renovação.
        - Filtro se possui vista para a água ou não.